BasedOnStyle: Microsoft
IndentWidth: 4
UseTab: Never
ColumnLimit: 80
BreakBeforeBraces: Allman
PointerAlignment: Right
IndentCaseLabels: true
SpaceAfterCStyleCast: true
BraceWrapping:
  AfterFunction: true
  AfterClass: true
  AfterControlStatement: true

